<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme.Dark">

        <activity
            android:name="com.client.activity.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>

        <activity android:name=".activity.LoginActivity" />

        <activity android:name=".activity.RegisterActivity" />

        <activity android:name=".activity.EditDealActivity"/>

        <activity android:name=".activity.PickGroupActivity" />

        <activity android:name=".activity.ChooseMoneyTypeActivity" />

        <activity
            android:name="com.client.activity.MainActivity"
            android:label="Budget App">
        </activity>

        <activity android:name=".activity.AccountActivity"></activity>

        <activity android:name=".activity.DealActivity" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/APP_ID" />


    </application>

</manifest>
